{% extends 'base.html' %} {% block content %}
<h1 class="text-3xl font-bold mb-4">Home</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime rerum ad
  culpa consequuntur ipsa sed totam rem provident! Iusto animi nam nisi quam
  molestiae impedit aliquid enim, veniam rem, mollitia perspiciatis repellendus
  doloremque cum voluptatibus tempora quibusdam. Nam doloribus dolorem sint aut
  atque in earum ad, voluptatem cum ipsa eius nulla tempora. Optio laborum
  incidunt molestiae voluptatibus nulla aliquam doloribus voluptates placeat,
  ipsa dolorem praesentium laboriosam ut ab! Eius provident nam earum cumque
  pariatur. Consequuntur ullam labore deserunt, expedita cum ab illo at
  doloremque recusandae veniam ducimus qui illum! Reiciendis explicabo
  necessitatibus quod eaque alias accusantium rem quam ducimus voluptatem?
</p>
{% endblock content %}
