{% extends 'base.html' %} {% block content %}
<div
  class="flex flex-col md:flex-row items-center justify-center min-h-[calc(100vh-8rem)] gap-4"
>
  <div class="flex flex-col">
    <!-- Card -->
    <div
      class="shadow-lg rounded-2xl p-8 w-full {% if task.important %}bg-red-500 text-white{% else %}bg-white{% endif %} mb-4"
    >
      <div>
        <h2
          class="text-2xl font-semibold mb-4 text-center {% if task.important %}text-white {% else %}text-gray-800{% endif %}"
        >
          {{ task.title }}
        </h2>

        <p
          class="{% if task.important %}text-white{% else %}text-gray-600{% endif %}"
        >
          {{ task.description }}
        </p>

        <p
          class="{% if task.important %}text-white{% else %}text-gray-600{% endif %}"
        >
          {{ task.datecompleted|date:"M j, Y:i" }}
        </p>
      </div>
    </div>
    <!-- Buttons Actions-->
    <div class="flex items-center space-x-2 justify-center">
      <form action="{% url 'complete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          Complete
        </button>
      </form>

      <form action="{% url 'delete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
  <div class="flex flex-col">
    <!-- Card -->
    <div class="bg-white dark:bg-neutral-700 text-gray-700 dark:text-white shadow-lg rounded-lg p-8 w-full max-w-md">
      <h2 class="text-2xl font-semibold mb-4 text-center">
        Updating Task
      </h2>
      <!-- Form -->
      <form method="POST" class="space-y-4">
        {% csrf_token %}
        <div>
          <label for="id_title" class="blockfont-medium mb-2"
            >Title</label
          >
          {{ form.title }}
        </div>
        <div>
          <label
            for="id_description"
            class="block font-medium mb-2"
            >Description</label
          >
          {{ form.description }}
        </div>
        <div class="flex items-center space-x-2">
          {{ form.important }}
          <label for="id_important"
            >Mark as important</label
          >
        </div>
        <button
          type="submit"
          class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Update
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
